<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>C_Login</display-name>
    <servlet-name>C_Login</servlet-name>
    <servlet-class>controlador.C_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Login</servlet-name>
    <url-pattern>/C_Login</url-pattern>
  </servlet-mapping>
  <display-name>Bibliotec</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>C_Libros</display-name>
    <servlet-name>C_Libros</servlet-name>
    <servlet-class>controlador.C_Libros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Libros</servlet-name>
    <url-pattern>/C_Libros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>C_Registro</display-name>
    <servlet-name>C_Registro</servlet-name>
    <servlet-class>controlador.C_Registro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Registro</servlet-name>
    <url-pattern>/C_Registro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aaa</display-name>
    <servlet-name>aaa</servlet-name>
    <servlet-class>aaa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aaa</servlet-name>
    <url-pattern>/aaa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>C_actualizar</display-name>
    <servlet-name>C_actualizar</servlet-name>
    <servlet-class>controlador.C_actualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_actualizar</servlet-name>
    <url-pattern>/C_actualizar</url-pattern>
  </servlet-mapping>
</web-app>